# LangChain Core
langchain 
langchain-core 
langchain_community
pypdf

# Google Gemini (PaLM) Integration
langchain-google-genai 
google-generativeai 


# Environment Variable Management
python-dotenv 

streamlit

